/* .container-logo{
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
} */
 

* {
  font-family: "Noto Sans Arabic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.container-fluid{
  position: relative;
  /* bottom:30px; */
}
.text{
  width:30%;
}
.navbar{
  background-color: #4f3795;
  color:white !important;
}
.nav-link{
  color:white !important;
  font-weight: 400;
}
.btn{
  display:flex;
  position: absolute;
  left:0;
  align-items: baseline;
  justify-content: flex-start;
  
  
}

.container-bootcamp{
  width:80%;
  margin: auto;
  background-color:#f5f6fa ;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.title-bootcamp{
  color:#4f3795;
}
.btn-container{
  display:flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #4f3795; */
  width:40%;
  padding:10px;
}
.news{
  padding:10px;
  border-radius: 30px;
  width:40%;
  border:none;
  background-color: white;
}
.biggner{
  background-color: #4f3795;
  color:white;
}
.container-card-all{
  background-color: #f5f6fa;
}
.list-card{
  display: flex;
  width:100%;
  justify-content: flex-start;
  padding:0;
  list-style: none;
  /* background-color: #4f3795; */
  padding-top:80px;
}
.list{
  padding:0 5px;
}
.list-date{
  display: flex;
  padding:0;
  list-style: none;
  justify-content: space-between;
}

.card{
  border-right:10px solid  #4f3795;
  border-radius: 10px;
}
.container-list{
  display: flex;
}
.d-btn{
  background-color: white;
  border:1px solid #4f3795;
  padding:5px 20px;
  font-size: large;
  color:#4f3795;
  font-weight: bold;
  border-radius: 20px;
}
.card-title{
  color: #4f3795;
}
.card-text{
  font-weight: bold;
}

.row{
  background-color: #f5f6fa;
  width:100%;
}
.more{
 display: flex;
 justify-content: center;
 margin-top: 10px;
}
.more-btn{
  padding:5px 20px;
  border-radius: 20px;
  background-color: white;
  transition: 0.4s ease;
}
.more-btn:hover{
  color:white;
  background-color: #4f3795;
}
.big-title{
  background-color: #4f3795;
  padding-bottom: 10px;
  color:white;
  padding-right: 8%;
}

.container-step{
  background-color: #f5f6fa;
}
.step-title{
  text-align: center;
  color: #4f3795;
  font-weight: bold;
}

.container-logo{
  display: flex;
  justify-content: space-evenly;
  width:100%;
  
}
.list-step{
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    width:100%;
}
.logo-style{
  background-color: #99d7d5;
  /* justify-content: center;
  align-items: center;
  display: flex; */
  padding:40px;
  border-radius: 50%;
  
}
.text-list{
  width:100%;
}

.container-logo{
  /* display: flex;
  background-color: red;
  align-items: center;
  justify-content: center;
  padding:20px; */
}

.lines{
  /* background-color: red; */
  width:100%;
  height:10%;
  position: relative;
  top:50px;
  border-top: 5px dotted black;
}
.footer-container{
  background-color: #4f3795;
  height:200px;
}

.footer-container .container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top:40px;
  /* background-color: #99d7d5; */
  color:white;
}
.logo-footer, .footer-logo{
  width:100%;
}

.footer-logo{
  text-align: left;
}
.list-foot{
  font-size: small;
  font-weight: 400;

}
.list-foot-ul{
  width:100%;
  list-style: none;
}
.text-center{
  color:white;
  font-weight: 400;
}

@media screen and (max-width:600px){
  .news{
    padding:10px;
    border-radius: 30px;
    width:100%;
    border:none;
    background-color: white;
    font-size: small;
  }
  .biggner{
    background-color: #4f3795;
    color:white;
  }
  .container-logo{
    display: block;
    justify-content: space-evenly;
    align-items: center;  
    width:50%;
    margin: auto;
    text-align: center;
  }
  .lines {
   display: none;
  }
  .footer-container .container{
    display: block;
    justify-content: space-around;
    align-items: center;
    padding-top:10px;
    background-color: #4f3795;
    padding-top:20px;
    color:white;
    height:300px;
    text-align: center;
  }
  .footer-logo{
    width:20%;
    /* display: none; */
    margin: auto;
  }
  .logo-footer{
    margin: auto;
    width:20%;
  }
  .text-center{
    background-color: #4f3795;
    padding:10px;
  }
  
}